body {
    padding: 10px 30px;
}
.map_square {
    width: 1600px;
    line-height: 15px;
    margin-right: -205px;
}
.map_line {
    margin: -2px;
    width: 3300px;
}
.map_hex {
    position: relative;
    display: inline-block;
    width: 184px;
    height: 128px;
    overflow: hidden;
    margin: 0 -24px;
}
.map_hex img {
    position: relative;
}
.map_img_hex {
    width: 184px;
    height: 128px;
}
.map_hex:nth-child(2n) {
    top: 66px;
}
.map_hex-inner-1,
.map_hex-inner-2 {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.map_hex-inner-1 {
    transform: matrix(1,0,1,1,0,0);
}
.map_hex-inner-2 {
    transform: matrix(1,0,-2,1,0,0);
    background: #64901F;
}
.map_hex:hover .map_hex-inner-2 {
    background: #f00;
}

.map_dirt_type {
    z-index: -3;
}
.map_relief_type {
  z-index: -2;
  /*top: -66px;*/
}
.map_water_resources_type {
    z-index: -1;
}
.map_vegetation_type {
    z-index: 0;
    /*top: -132px;*/
}
/*.map_img_hover {
    z-index: 1;
}*/

/*map editor tools*/
.map_tools_container {
    border:1px solid grey;
}
.map_tools_brush_container {
    border:1px solid grey;
    padding-top: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
}
.map_tools {
    display:inline-block;
    padding: 3px 3px 0px;
}
.map_tools:hover {
    background: grey;
}
.map_tools_selected {
    /*background: grey;*/
    border:1px solid grey;
}
.map_tools_img1 {
    height : 50px;
    width : 59px
}
.map_tools_img2 {
    height : 50px;
    width : 50px
}
/*map editor tools*/
